.venv/
__pycache__/
*.pyc
.DS_Store

# LaTeX work directory
gnomonic_tex_work/*.aux
gnomonic_tex_work/*.log
gnomonic_tex_work/*.out
gnomonic_tex_work/*.synctex.gz
gnomonic_tex_work/*.toc
gnomonic_tex_work/*.pdf
